<div class="container">
	<div class="row Usuario">
		<div class="yurani col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 col-md-4 col-md-push-4">

			<h3 class="text-center">Usuarios Update</h3>

			<form name="userForm" ng-submit="vm.updateUser()">

				<div class="form-group">
				<label for="">Tipo Documento</label>
				<input type="text" class="form-control" ng-model="vm.usuario.tipoDocumento.id">
			</div>

				<div class="form-group">
				<label for="">Documento</label>
				<input type="text" class="form-control" ng-model="vm.usuario.numDocumento">
			</div>

				<div class="form-group">
				<label for="">Apellidos</label>
				<input type="text" class="form-control" ng-model="vm.usuario.apellidos">
 		</div>

				<div class="form-group">
				<label for="">Nombres</label>
				<input type="text" class="form-control" ng-model="vm.usuario.nombres">
			</div>

				<div class="form-group">
				<label for="">Email</label>
				<input type="text" class="form-control" ng-model="vm.usuario.email">
				</div>

				<div class="form-group">
				<label for="">Sexo</label>
				<input type="text" class="form-control" ng-model="vm.usuario.sexo">
				</div>

				<div class="form-group">
				<label for="">Departamentos</label>

				<select name="" id="" ng-model="vm.idDepartamento" ng-change="vm.getCiudades()">
					<option ng-value="{{item.id}}" ng-repeat="item in vm.departamentos">{{item.nombre}}</option>
				</select>
				</div>

				<div class="form-group">
				<label for="">Ciudad</label>
				<select name="" id=""  ng-model="vm.usuario.ciudad.id">
					<option ng-value="{{item.id}}" ng-repeat="item in vm.ciudades">{{item.nombre}}</option>
				</select>
				</div>

				<button type="submit">Actualizar</button>

			</form>

</div>
</div>
</div>
