<div class="container">
	<div class="row">
		<div class="yurani col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 col-md-4 col-md-push-4">
			<h2 class="text-center">REGÍSTRESE...</h2>

			<form name="userForm" ng-submit="userForm.$valid && vm.createUser()"> <!--valid returna true -->
				<div class="form-group">
					<label for="">Tipo Documento</label>
					<input type="text" class="form-control" ng-model="vm.usuario.tipoDocumento.id">
				</div>


				<div class="form-group">
					<label>Documento</label>
					<input class="form-control"
					type="text"
					name="numDocumento"
					required
					minlength="7"
					maxlength="11"
					ng-pattern="/^[0-9]{1,20}$/"
					ng-model="vm.usuario.numDocumento">

					<div class=""
						ng-messages="userForm.numDocumento.$error"
						ng-show="userForm.numDocumento.$dirty">

						<div class="alert alert-danger" role="alert" ng-message="required">
								<p>Este campo es requerido</p>
						</div>

						<div class="alert alert-danger" role="alert" ng-message="minlength">
							<p>Este campo de ser minimo 7 caracteres</p>
						</div>

						<div class="alert alert-danger" role="alert" ng-message="maxlength">
							<p>Este campo de ser minimo 11 caracteres</p>
						</div>

						<div class="alert alert-danger" role="alert" ng-message="pattern">
							<p>Este campo solo admite numeros
							</p>
						</div>

					</div>
				</div>

				<div ng-show="vm.showValidaDocumento" class="alert alert-danger" role="alert">
					<p>El numero de documento ya se encuentra registrado</p>
				</div>

			 	<div class="form-group">
					<label for="">Apellidos</label>
					<input type="text" class="form-control" ng-model="vm.usuario.apellidos">
			 	</div>

				<div class="form-group">
					<label for="">Nombres</label>
					<input type="text" class="form-control"ng-model="vm.usuario.nombres">
				</div>

				<div class="form-group">
					<label for="">Email</label>
					<input
					type="email"
					class="form-control"
					name="email"
					ng-model="vm.usuario.email"
					required
					ng-pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/">

					<div class=""
					ng-messages="userForm.email.$error"
					ng-show="userForm.email.$dirty">
					<div class="alert alert-danger" role="alert" ng-message="required">
							<p>este campo es requerido</p>
					</div>

					<div class="alert alert-danger" role="alert" ng-message="pattern">
							<p>ingrese un email valido</p>
					</div>
					</div>
				</div>



				<div ng-show="vm.showValidaEmail" class="alert alert-danger" role="alert">
					<p>El email ya existe</p>
				</div>

				<div class="form-group">
					<label for="">password</label>
					<input type="password" class="form-control" ng-model="vm.usuario.password">
				</div>

				<div class="form-group">
					<label for="">Sexo</label>
					<input type="text" class="form-control" ng-model="vm.usuario.sexo">
				</div>

				<div class="form-group">
					<label for="">Ciudad</label>
					<input type="text" class="form-control" ng-model="vm.usuario.ciudad.id">
				</div>

				<button class="btn btn-primary btn-lg" type="submit" ng-disabled="userForm.$invalid">Registrar</button>
			</form>
		</div>
	</div>
</div>
